<body>

<div >
    <div class="mask">
        <h2>Welcome to Book Hive</h2>
        <mat-tab-group class="tabs" mat-align-tabs="center" color="accent">
            <mat-tab label="Login"><h3>Login to view the bookstore</h3>
                <app-login></app-login></mat-tab>
            <mat-tab label="Book Store"><h3>Browse all books</h3>
                <button mat-raised-button color="accent" (click)="gotoShop()">Browse</button></mat-tab>
                
          </mat-tab-group>
    </div>
    </div>


</body>




